/* mobile.css */

.pc-only {
    display: none;
}

#main-header {
    background-color: #FBE45B;
    height: 81px;
    width: 100vw;
}

#main-header .main-header-bar {
    height: 81px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#main-header .main-header-bar img {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-header .main-header-bar .toggle-menu-btn {
    position: absolute;
    top: 25px;
    right: 20px;
    cursor: pointer;
}

#main-header .toggle-menu-btn img {
    width: 40px
}

#main-header #gnb {
    display: none;
    width: 100%;
    height: 100%;
    flex-flow: column;
    line-height: 20px;
    position: fixed;
    top: 81px;
    left: 0;
    text-align: center;
    background-color: #FFE442;
    z-index: 100;
}

#main-header #gnb.on {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-flow: column;
    line-height: 20px;
    position: fixed;
    top: 81px;
    left: 0;
    text-align: center;
    background-color: #FFE442;
    z-index: 100;
}

#main-header #gnb li {
    border-bottom: 3px solid #EF51A5;
}

li {
    width: 300px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 400;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 15px;
}

body {
    min-width: 320px;
    height: 100vh;
    width: 100vw;
}

/* home */

#main {
    width: 100vw;
    height: 100vh;
    /* position: relative; */
    overflow: hidden;
    /* display: flex;
    flex-flow: column;
    justify-content: center; */
}

#main #title {
    /* border: 1px solid #333; */
    height: 50%;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;    
    margin-top: 120px;
    position: relative;
}

#main #title .circle1 {
    width: 108px;
    height: 108px;
    background-color: #fff;
    border-radius: 108px;
    position: absolute;
    left: 10px;
    top: 70px;
}

#main .circle2 {
    position: absolute;
    width: 85px;
    height: 85px;
    border-radius: 85px;
    background-color: #EF51A5;
    right: 40px;
    bottom: 100px;
}

#main .circle3 {
    position: absolute;
    width: 44.5px;
    height: 44.5px;
    border-radius: 44.5px;
    background-color: #fff;
    right: 20px;
    bottom: 90px;
}
#main #title .main-title {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#main #title .main-title .main-title-text {
    font-weight: 900;
    color: #E44D9E;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 1px #E3D7E2;
    text-align: center;
    margin-top: 1em;
}

#main #title .main-title span {
    color: #512B52;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 1px #E3D7E2;
}

/* 풋터 */

#main-footer {
    height: 30px;
    box-sizing: border-box;
    /* padding-top: 10px; */
    text-align: center;
    margin-top: 30px;
}

#main-footer p { 
    font-size: 5px;
    font-weight: 400;
    color: #333;
}
 

/* 서브페이지 제목 */

.sub-title {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: #CC1273;
    position: absolute;
    top: 15px;
    left: 25px;
}

.sub-title h3 {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 500;
    text-align: center;
    line-height: 30x;
}

.sub2-title {
    margin-bottom: 10px;
    color: #CC1273;
}

/* about */

#about {
    width: 100vw;
    height: 100vh;
}

#about #about-contants {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: space-between;
    /* border: 2px solid #333; */
    margin: 0 auto;
}

#about .profile {
    width: 300px;
    height: 300px;
    border-radius: 300px;
    background-color: #FFD4D4;
    margin: 0 auto;
    margin-top: 50px;
}

#about .profile .profile-info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}

#about .profile .profile-info .img {
    width: 80px;
    height: 100px;
    background-color: #fff;
    border: 3px solid #EF51A5;
    border-radius: 15px;
    margin-right: 10px;
    background-image: url(../images/eunsaem-main.jpg);
    background-size: cover;
}

#about .sub2-title {
    margin: 0;
}

#about .profile .profile-group {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about .profile .profile-group p {
    font-size: 10px;
    font-weight: 500;
    color: #450527;
    margin-bottom: 5px;
}

#about .profile .profile-group p span {
    width: 142px;
    font-size: 7px;
    font-weight: 500;
    color: #000;
}

/* 라이센스 */

#about .about-sub {
    margin-top: 5px;
    margin: 0 auto;
}

#about .license {
    width: 210px;
    height: 210px;
    border-radius: 210px;
    background-color: #FFFEF1;
    /* margin-left: 10px; */
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

#about .license .license-text {
    width: 210px;
    height: 210px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

#about .license .license-text .license-list p {
    margin-bottom: 5px;
    color: #EF51A5;
    font-weight: 600;
    font-size: 7px;
    margin-top: 5px;
}

#about .license .license-text .license-list p span {
    margin-left: 3px;
}

/* experience */

#about .experience {
    width: 240px;
    height: 240px;
    border-radius: 240px;
    margin-bottom: 5px;
    background-color: #FFFEF1;
}

#about .experience .experience-text {
    width: 240px;
    height: 240px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
}

#about .experience .experience-text .experience-list p {
    margin-bottom: 4px;
    color: #EF51A5;
    font-weight: 700;
    font-size: 7px;
    margin-left: 5px;
    display: flex;
    flex-flow: column;
    line-height: 12px;
}

#about .experience .experience-text .experience-list p span {
    margin-top: 5px;
    margin-left: 4px;
    font-weight: 500;
}

/* skills */

#skills {
    margin: 0 auto;
}

#skills #skills-contants {
    position: relative;
    display: flex;
    flex-flow: column;
}

#skills .skills-circles {
    /* border:  2px solid #333; */
    margin-top: 70px;
    margin-bottom: 10px;
}

#skills .skills-webpublishing {
    width: 310px;
    height: 310px;
    border-radius: 310px;
    background-color: #FFFEF1;
    margin: 0 auto;
    margin-bottom: 10px;
}

#skills .skills-webpublishing .skills-info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 250px;
    height: 310px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

#skills .skills-webpublishing .skills-group {
    margin-top: 0px;
}

#skills .skills-webpublishing .sub2-title {
    margin-bottom: 0;
    margin-top: 20px;
}

#skills .skills-webpublishing .skills-group .skills-icon-text {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    color: #EF51A5;
    font-size: 10px;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
    /* border: 2px solid #333; */
}

#skills .skills-icon-text p {
    color: #EF51A5;
    font-size: 10px;
}

#skills .skills-icon-text p span {
    color: #cc1273;
    font-weight: 700;
    margin-right: 5px;
    /* display: flex; */
    margin-bottom: 5px;
}

#skills .skills-webpublishing .skills-group .icon-html {
    width: 190px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}


#skills .skills-webpublishing .skills-group .skills-text .icon-html img {
    width: 30px;
}

#skills .skills-webpublishing .skills-group .icon-html .icon-sub {
    width: 30px;
}

/* 스킬- etc */

#skills .etc {
    width: 310px;
    height: 310px;
    border-radius: 310px;
    background-color: #FFFEF1;
    margin: 0 auto;
    margin-bottom: 5px;
}

#skills .etc .skills-info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 310px;
    height: 310px;
}

#skills .etc .etc-icon-text {
    /* border: 2px solid #333; */
    font-weight: 500;
    font-size: 10px;
    line-height: 25px;
    margin: 0 auto;
    margin-bottom: 20px;
}

#skills .etc .etc-group .etc-icon {
    width: 55%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#skills .etc .etc-group .etc-icon img {
    width: 30px;
}

#skills .etc .etc-icon-text p {
    color: #EF51A5;
}

#skills .etc .etc-icon-text p span {
    color: #cc1273;
    font-weight: 700;
    margin-right: 5px;
}

/* 포트폴리오-메인 */

#portfolio-menu {
    position: relative;
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    /* border: 2px solid #333; */
}

#portfolio-home .portfolio-webpublishing {
    width: 310px;
    height: 310px;
    border-radius: 310px;
    background-color: #FFFEF1;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 10px;
}
#portfolio-home .portfolio-design {
    width: 310px;
    height: 310px;
    border-radius: 310px;
    background-color: #FFFEF1;
    margin: 0 auto;
    
}

#portfolio-home .portfolio-info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 310px;
    height: 310px;
    border-radius: 51px;
}

#portfolio-home .portfolio-webpublishing .portfolio-group {
    margin-top: 30px;
}

#portfolio-home .portfolio-webpublishing .portfolio-group .portfolio-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

#portfolio-home .portfolio-webpublishing .portfolio-group .portfolio-img img {
    width: 206px;
}

#portfolio-home .portfolio-design .portfolio-group .portfolio-img img {
    width: 175px;
}

/* contact */

#contact {
    width: 100vw;
    height: 100vh;
    
}

#contact #contact-circle {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 75%;
}

#contact .contact-title {
    width: 310px;
    height: 310px;
    border-radius: 310px;
    background: rgba(255, 213, 213, 0.83);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}

#contact .contact-title h4 {
    margin-bottom: 3px;
    font-size: 15px;
    font-weight: 600;
    line-height: 38px;
    color: #1b000e;
}

#contact .contact-title p {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #450527;
}

#contact .contact-title .contact-icon {
    margin-top: 12px;
    margin-bottom: 15px;
    width: 119px;
    display: flex;
    justify-content: space-between;
}

#contact .contact-title .contact-icon img {
    width: 50px;
}

#contact .contact-title h2 {
    font-weight: 700;
    font-size: 25px;
    color: #fff;
    -webkit-text-stroke: 2px #CC1273;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contact-img {
    display: none;
    /* width: 120px;
    height: 120px;
    border-radius: 120px;
    border: 3px solid rgba(239, 81, 165, 1);
    position: absolute;
    left: 55%;
    top: 30%;
    background-image: url(../images/eunsaem-contact.jpg);
    background-size: cover; */
}

#main-footer p {
    margin-bottom: 20px;
}

/* 포트폴리오-웹 */

#portfolio-web .header-component {
    position: fixed;
    z-index: 100;
    width: 100vw;
}

#menu {
    width: 280px;
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: left;
    /* outline: 1px solid red; */
    margin-top: 85px;
}

#menu .home-btn a {
    font-size: 10px;
    text-align: center;
    line-height: 10px;
}

#menu li {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    background-color: #ef51a5;
    border-radius: 50px;
    text-align: center;
    margin-right: 1px;
    margin-top: 15px;
}

#menu li a {
    font-family: 'IBM Plex Sans KR', sans-serif;
    color: #fff;
    font-size: 10px;
}

#menu .home-btn {
    background-color:#F89827;
    float: right;
}

#fullpage {
    width: 90%;
    margin: 0 auto;
}

#fullpage .section .menu-title p {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    background-color: #cc1273;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
}

#fullpage .slide {
    width: 90%;
    height: 90%;
    margin: 0 auto;
}

#fullpage .slide ul {
    width: 100%;
    height: 80%;
    margin: 0 auto;
    }

#fullpage .slide .portfolio-img {
    height: 55%;
    max-height: 250px;
    margin-top: 100px;
}

#fullpage .slide .portfolio-mobile-img {
    height: 60%;
    max-height: 250px;
    margin-top: 100px;
}

#fullpage .slide .portfolio-web-img {
    height: 60%;
    max-height: 200px;
    margin-top: 100px;
}

#fullpage .slide .portfolio{
    width: 100%;
    min-width: 190px;
    height: 280px;
    border-radius: 30px;
    background-color:#FFFEF1;
    display: flex;
    flex-flow: column;
}

#fullpage .slide ul {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 85%;
}

#fullpage .slide  li {
    height: 400px;
}

#fullpage .slide .portfolio h4 {
    font-size: 15px;
    margin-bottom: 9px;
    margin-top: 10px;
}

#fullpage .slide .portfolio .info {
    font-size: 7px;
    margin-bottom: 10px;
    text-align: center;
}

#fullpage .slide .portfolio .info-2 {
    font-size: 7px;
    font-weight: 400;
    margin: 0 auto;
    line-height: 14px;
}

#fullpage .slide .portfolio .info-2 span {
    font-weight: 600;
    margin-right: 10px;
}

#fullpage .slide .portfolio .info-2 .portfolio-icon {
    width: 140px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#fullpage .slide .portfolio .info-2 .portfolio-icon img {
    width: 30px;
}

#fullpage .slide .portfolio .portfolio-btn {
    width: 180px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

#fullpage .slide .portfolio .portfolio-btn .btn {
    border-radius: 5px;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 400;
}

/* ssak3 */

#portfolio-web #fullpage .slide .ssak3 h4 {
    color: #1D6E44;
}

#portfolio-web #fullpage .slide .ssak3 .info-2 span {
    color: #1D6E44;
}

#portfolio-web #fullpage .slide .ssak3 .portfolio-btn .btn {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: #1D6E44;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* dtcu */

#portfolio-web #fullpage .slide .dtcu h4 {
    color: #FF5542;
}

#portfolio-web #fullpage .slide .dtcu .info-2 span {
    color: #FF5542;
}

#portfolio-web #fullpage .slide .dtcu .portfolio-btn .btn {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: #FF5542;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 모바일 청첩장 */

#fullpage .slide .invitation h4 {
    color: #F19E9E;
}

#fullpage .slide .invitation .info-2 span {
    color: #F19E9E;
}

#fullpage .slide .invitation .portfolio-btn .btn {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: #F19E9E;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 동물정보 */

#fullpage .slide .animal h4 {
    color: #1ABC9C;
}

#fullpage .slide .animal .info-2 span {
    color: #1ABC9C;
}

#fullpage .slide .animal .portfolio-btn .btn {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: #1ABC9C;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 전방텍스타일 */

#fullpage .slide .chonbang h4 {
    color: #F89827;
}

#fullpage .slide .chonbang .info-2 span {
    color: #F89827;
}

#fullpage .slide .chonbang .portfolio-btn .btn {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: #F89827;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* tvn */

#fullpage .slide .tvn h4 {
    color: #FA0129;
}

#fullpage .slide .tvn .info-2 span {
    color: #FA0129;
}

#fullpage .slide .tvn .portfolio-btn .btn {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: #FA0129;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 키즈노트 */

#fullpage .slide .kidsnote h4 {
    color: #06A7E2;
}

#fullpage .slide .kidsnote .info-2 span {
    color: #06A7E2;
}

#fullpage .slide .kidsnote .portfolio-btn .btn {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: #06A7E2;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 포트폴리오-디자인 */

#portfolio-design .header-component {
    position: fixed;
    z-index: 100;
    width: 100vw;
}

#portfolio-design #fullpage .slide .portfolio-sale-img {
    width: 200px;
    margin-top: 100px;
}

#portfolio-design #fullpage .slide .portfolio-drama-img {
    width: 280px;
    margin-top: 100px;
}

#portfolio-design #fullpage .slide .portfolio-img {
    width: 90%;
    height: 50%;
    margin-top: 100px;
}

#portfolio-design #fullpage .slide .portfolio-fila-img {
    height: 68%;
    margin-top: 100px;
}

#portfolio-design #fullpage .slide .portfolio-innisfree-img {
    width: 90%;
    margin-top: 100px;
}


/* 세일배너 */

#portfolio-design #fullpage .slide .sale h4 {
    color: #271E8D;
}

#portfolio-design #fullpage .slide .sale .info-2 span {
    color: #271E8D;
}

#portfolio-design #fullpage .slide .sale .portfolio-btn .btn {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: #271E8D;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 드라마 */

#portfolio-design #fullpage .slide .drama h4 {
    color: #CC2222;
}

#portfolio-design #fullpage .slide .drama .info-2 span {
    color: #CC2222;
}

#portfolio-design #fullpage .slide .drama .portfolio-btn .btn {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: #CC2222;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 타이포(웹) */

#portfolio-design #fullpage .slide .typo-web h4 {
    color: #447933;
}

#portfolio-design #fullpage .slide .typo-web .info-2 span {
    color: #447933;
}

#portfolio-design #fullpage .slide .typo-web .portfolio-btn .btn {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: #447933;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 타이포(포토샵) */

#portfolio-design #fullpage .slide .typo-photoshop h4 {
    color: #00185B;
}

#portfolio-design #fullpage .slide .typo-photoshop .info-2 span {
    color: #00185B;
}

/* florence */

#portfolio-design #fullpage .slide .florence h4 {
    color: #D3555A;
}

#portfolio-design #fullpage .slide .florence .info-2 span {
    color: #D3555A;
}

/* fila */

#portfolio-design #fullpage .slide .fila h4 {
    color: #0A315C;
}

#portfolio-design #fullpage .slide .fila .info-2 span {
    color: #0A315C;
}

/* innisfree */

#portfolio-design #fullpage .slide .innisfree h4 {
    color: #7D9C76;
}

#portfolio-design #fullpage .slide .innisfree .info-2 span {
    color: #7D9C76;
}

/* ssak3-info */

#info .header-component {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100vw;
}

#info .info-menu {
    width: 150px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    position: relative;
    left: calc(100vw - 180px);
    
}

#info .info-menu li {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    font-size: 10px;
}

#info .info-menu li a {
    color: #fff;
}

#info .info-bg {
    width: calc(100vw - 20px);
    border-radius: 10px;
    background-color: #FFFEF1;
    margin: 0 auto;
    margin-top: 110px;
    margin-bottom: 10px;
    border-radius: 30px;
}

#info .info-bg .info-img img {
    width: 100%;
    border-radius: 30px;
    /* background-image: url(../images/info-ssak3-mobile.png); */
}

#info .ssak3 li {
    background-color: #1D6E44;   
}

#info .dtcu li {
    background-color: #FF5542;
}

#info .invitation li {
    background-color: #FFC7C7;
}

#info .invitation li a {
    color: #333;
}

#info .animal li {
    background-color: #1ABC9C;
}

#info .chonbang li {
    background-color: #F9941E;
}

#info .tvn li {
    background-color: #FA0028;
}

#info .kidsnote li {
    background-color: #06A7E2;
}

#info .sale li {
    background-color: #271E8D;
}

#info .drama li {
    background-color: #CC2222;
}

#info .typo li {
    background-color: #41772F;
}

/* 오른쪽 메뉴 버튼 */

#fp-nav ul {
    display: flex;
    flex-flow: column;
    display: none;
}

#fp-nav ul li .fp-tooltip {
    color: #CC1273;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: 500;
}


/* slider arrow */
.fp-controlArrow.fp-prev{
    left: 10px;
  }
  
  .fp-controlArrow.fp-next{
    right: 10px;
  }