/* pc.css */

.mobile-only {
    display: none;
}

.container {
    width: 80vw;
    margin: 0 auto;
}

#main-header {
    background-color: #FBE45B;
    height: 90px;
    width: 100vw;
}

#main-header #gnb {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-header #gnb ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}

#main-header #gnb ul li {
    transform: perspective(1px) translateZ(0);
}

#main-header #gnb ul li:hover a {
    border-bottom: 3px solid #FA738B;
    color: #fff;
}

#main-header .main-header-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    font-size: 22px;
    font-weight: 400;
}

h1 {
    font-size: 65px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

/* home */
#main {
    font: 400 1em/1.5 "Neuton"; 
    color: #333; 
    text-align: center; margin: 0;
}

#main .main-title {
    height: calc(100% - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid #333; */
    width: 90%;
    margin: 0 auto;
}

#main .main-title p {
	text-transform: uppercase;
	letter-spacing: .5em;
	display: inline-block;
	border: 4px double #FA738B;
	border-width: 4px 0;
	padding-top: 60px;
    padding-bottom: 60px;
	width: 60%;
    font-size: 22px;
}

#main .main-title span {
  	font: 700 4em/1 "Oswald", sans-serif;
  	letter-spacing: 0;
  	padding-top: 50px;
    padding-bottom: 50px;
	display: block;
	margin: 0 auto;
  	text-shadow: 0 0 80px rgba(255,255,255,.5); 
    font-size: 90px;

/* Clip Background Image */

	background: url(../images/animated-text-fill.png) repeat-y;
	-webkit-background-clip: text;
	background-clip: text;

/* Animate Background Image */

	-webkit-text-fill-color: transparent;
	animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

    transform: translate3d(0,0,0);
}

/* Animate Background Image */
@keyframes 
    aitf {
    0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
    }

/* 풋터 */

#main-footer {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
    line-height: 20px;
    color: #333;
    height: 5%;
}

/* 서브페이지 제목 */

body {
    position: relative;
}

.sub-title {
    width: 191px;
    height: 191px;
    border-radius: 191px;
    background-color: #CC1273;
    position: absolute;
    top: 150px;
    left: 200px;
    z-index: 1;
}

.sub-title h3 {
    height: 191px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 500;
    text-align: center;
}

.sub2-title {
    margin-bottom: 30px;
    color: #CC1273;
}

/* 해더 메뉴  */

#about #gnb .gnb-about a { color: #fff; }
#skills #gnb .gnb-skills a { color: #fff; }
#portfolio-home #gnb .gnb-portfolio a { color: #fff; }
#portfolio-web #gnb .gnb-portfolio a { color: #fff; }
#portfolio-design #gnb .gnb-portfolio a { color: #fff; }
#contact #gnb .gnb-contact a { color: #fff; }

/* about */

#about-contants {
    display: flex;
    justify-content: center;
    width: 1500px;
    margin-top: 20px;
    /* border: 2px solid #333; */
}

#about .profile {
    width: 600px;
    height: 600px;
    border-radius: 30px;
    background-color: #FA738B;
    margin-left: 120px;
    margin-top: 70px;
}

#about .profile .profile-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#about .profile .profile-info {
    width: 600px;
    height: 600px;
}

#about .profile .sub2-title {
    text-align: center;
    margin-top: 50px;
}

#about .profile .profile-text {
    margin-top: 70px;
}

#about .profile .profile-info .sub2-title {
    color: #fff;
}

#about .profile .profile-info .img {
    width: 220px;
    height: 280px;
    background-color: #fff;
    border-radius: 43px;
    margin-right: 29px;
    margin-top: 70px;
    background-image: url(../images/eunsaem-main.jpg);
    background-size: cover;
}
#about .profile .profile-group p {
    font-size: 20px;
    font-weight: 500;
    color: #1B000E;
    margin-bottom: 10px;
}

#about .profile .profile-group p span {
    font-size: 13px;
    font-weight: 500;
    color: #450527;
}

#about .about-sub {
    /* border: 2px solid #333; */
    margin-top: 70px;
    width: 100%;
    height: 65vh;
    margin-left: 40px;    
}

#about .license {
    width: 600px;
    height: 280px;
    border-radius: 30px;
    background-color: #FFFEF1;
    /* position:absolute;
    top: 10px; */
}

#about .license .license-text {
    width: 600px;
    height: 280px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#about .license .license-text .license-list p {
    margin-bottom: 5px;
    color: #EF51A5;
    font-weight: 500;
}

#about .license .license-text .license-list p span {
    margin-left: 15px;
}

#about .experience {
    margin-top: 40px;
    width: 600px;
    height: 280px;
    border-radius: 30px;
    background-color: #FFFEF1;
}

#about .experience .experience-text {
    width: 600px;
    height: 280px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#about .experience .experience-text .experience-list p {
    margin-bottom: 5px;
    color: #EF51A5;
    font-weight: 500;
}

#about .experience .experience-text .experience-list p span {
    margin-left: 15px;
}

/* skills */

#skills-contants {
    /* border: 2px solid #333; */
    width: 90%;
    margin-top: 20px;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

#skills .skills-circles {
    /* border: 2px solid #333; */
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top:  100px;
}

#skills .skills-info {
    width: 617px;
    height: 617px;
    border-radius: 30px;
    background-color: #FFFEF1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 617px;
    height: 617px;
    font-weight: 500;
    font-size: 13px;
}


#skills .skills-webpublishing .skills-group .skills-icon-text {
    width: 100%;
    line-height: 35px;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #EF51A5;
    /* border: 2px solid #333; */
}

#skills .skills-webpublishing .skills-group .skills-icon-text p span {
    margin-left: 5px;
    margin-right: 10px;
    font-weight: 700;
    font-size: 13px;
    color: #cc1273;
}

#skills .skills-webpublishing .skills-group .icon-html {
    /* border: 1px solid #333; */
    width: 88%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#skills .skills-webpublishing .skills-group .icon-html img {
    width: 80px;
}

#skills .etc {
    width: 617px;
    height: 617px;
    border-radius: 617px;
    background-color: #FFFEF1;
    /* margin-left: 70px; */
}

#skills .etc .skills-info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 617px;
    height: 617px;
}

#skills .etc .etc-icon-text p span {
    margin-left: 5px;
    margin-right: 10px;
    font-weight: 700;
    font-size: 13px;
    color: #cc1273;
}

#skills .etc .etc-icon-text {
    /* border: 1px solid #333; */
    /* width: 520px; */
    line-height: 35px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #EF51A5;
    font-weight: 500;
    font-size: 13px;
}

#skills .etc .etc-icon {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#skills .etc .etc-icon img {
    width: 80px;
}



/* 포트폴리오-메인 */

#portfolio-menu {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    /* border: 2px solid #333; */
}

#portfolio-menu .portfolio-menu-list {
    display: flex;
    /* border: 2px solid #333; */
    width: 65%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

#portfolio-home .portfolio-webpublishing {
    width: 518px;
    height: 518px;
    border-radius: 30px;
    background-color: #FFFEF1;
}
#portfolio-home .portfolio-design {
    width: 518px;
    height: 518px;
    border-radius: 30px;
    background-color: #FFFEF1;
}

#portfolio-home .portfolio-info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 518px;
    height: 518px;
    border-radius: 51px;
}

#portfolio-home .portfolio-webpublishing:hover {
    background-color: rgba(239, 81, 165, 0.5);
}

#portfolio-home .portfolio-webpublishing:hover .sub2-title{
    color: #fff;
}

#portfolio-home .portfolio-design:hover {
    background-color: rgba(239, 81, 165, 0.5);
}

#portfolio-home .portfolio-design:hover .sub2-title{
    color: #fff;
}

#portfolio-home .portfolio-webpublishing .portfolio-group {
    margin-top: 30px;
}

#portfolio-home .portfolio-webpublishing .portfolio-group .portfolio-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* contact */
#contact #contact-circle {
    position: relative;
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact .contact-title {
    width: 600px;
    height: 600px;
    border-radius: 50px;
    background: rgba(255, 213, 213, 0.83);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#contact .contact-title h4 {
    margin-bottom: 3px;
    font-size: 25px;
    font-weight: 600;
    line-height: 38px;
    color: #1b000e;
}

#contact .contact-title p {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #450527;
}

#contact .contact-title .contact-icon {
    margin-top: 12px;
    /* margin-bottom: 47px; */
    width: 178px;
    display: flex;
    justify-content: space-between;
}

#contact .contact-title .contact-icon img {
    width: 80px;
}

#contact .contact-title h2 {
    font-weight: 600;
    font-size: 25px;
    color: #fdfdfd;
    /* -webkit-text-stroke: 2px #CC1273; */
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
    padding-top: 30px;
    text-align: center;
}

.contact-img {
    width: 233px;
    height: 233px;
    border-radius: 233px;
    border: 5px solid rgba(239, 81, 165, 1);
    position: absolute;
    right: 400px;
    top: 200px;
    background-image: url(../images/eunsaem-contact.jpg);
    background-size: cover;
}

/* 포트폴리오-웹 */

#portfolio-web .header-component {
    position: fixed;
    z-index: 1;
    width: 100vw;
}


#menu .home-btn a {
    font-size: 13px;
    text-align: center;
    line-height: 20px;
}

#menu .home-btn {
    display: none;
}

#menu {
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: left;
    /* outline: 1px solid red; */
    width: 100%;
    margin-top: 110px;
    margin-left: 150px;
  }

#menu li {
    width: 89px;
    height: 89px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ef51a5;
    border-radius: 89px;
    margin-left: 10px;
    margin-top: 20px;
    text-align: center;
    line-height: 25px;
}

#menu li a {
    font-family: 'IBM Plex Sans KR', sans-serif;
    color: #fff;
    font-size: 18px;
}

#fullpage {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#fullpage .slide .portfolio-img {
    width: 80%;
}

#fullpage .slide .portfolio-mobile-img {
    width: 70%;
}

#fullpage .slide .portfolio-web-img {
    width: 95%;
}

#fullpage .slide ul {
    height: 80%;
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#fullpage .section {
    position: relative;
    width: 90%;
}

#menu .menu-title p {
    width: 130px;
    height: 130px;
    border-radius: 130px;
    background-color: #cc1273;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    z-index: 5;
    /* box-sizing: border-box; */
}

/* 간략 설명 */

.portfolio {
    width: 50%;
    min-width: 600px;
    height: 520px;
    box-sizing: border-box;
    background-color: #FFFEF1;
    border-radius: 120px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.portfolio .info {
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    color: #333;
    margin-bottom: 25px;
}
.portfolio .info-2 {
    height: 609px;
    margin: 0 auto;
    width: 80%;
}

.portfolio .info-2 p {
    font-weight: 400;
    font-size: 15px;
    color: #000;
    display: flex;
    flex-flow: row;
    line-height: 28px;
}

#portfolio-web .ssak3 h4 {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    margin-bottom: 25px;
    color: #1D6E44;
}

#portfolio-web .ssak3 .info-2 p span {
    font-weight: 600;
    font-size: 16px;
    color: #1D6E44;
    margin-right: 20px;
    width: 69px;
    box-sizing: border-box;
}

.portfolio .info-2 .portfolio-icon {
    width: 280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.portfolio .info-2 .portfolio-icon img {
    width: 65px;
}

.portfolio .info-2 .portfolio-btn {
    width: 320px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;

}

.portfolio .info-2 .portfolio-btn .btn {
    width: 150px;
    height: 45px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#portfolio-web .ssak3 .info-2 .portfolio-btn .btn {
    background-color: #1D6E44;
    color: #fff;
}

#portfolio-web .dtcu h4 {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    margin-bottom: 25px;
    color: #FF6A58;
}

#portfolio-web .dtcu .info-2 p span {
    font-weight: 600;
    font-size: 15px;
    color: #FF6A58;
    margin-right: 20px;
    width: 69px;
    box-sizing: border-box;
}

#portfolio-web .dtcu .info-2 .portfolio-btn .btn {
        background-color: #FF6A58;
        color: #fff;
}

#portfolio-web .invitation,.animal {
    width: 1100px;
}

#portfolio-web .invitation h4 {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    margin-bottom: 46px;
    color: #F19E9E;
}

#portfolio-web .invitation .info-2 p span {
    font-weight: 600;
    font-size: 16px;
    color: #F19E9E;
    margin-right: 20px;
    width: 69px;
    box-sizing: border-box;
}

#portfolio-web .invitation .info-2 .portfolio-btn .btn {
        background-color: #F19E9E;
        color: #333;
}

#portfolio-web .animal h4 {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    margin-bottom: 46px;
    color: #1ABC9C;
}

#portfolio-web .animal .info-2 p span {
    font-weight: 600;
    font-size: 16px;
    color: #1ABC9C;
    margin-right: 20px;
    width: 69px;
    box-sizing: border-box;
}

#portfolio-web .animal .info-2 .portfolio-btn .btn {
        background-color: #1ABC9C;
        color: #fff;
}

#portfolio-web .chonbang h4 {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    margin-bottom: 46px;
    color: #F89827;
}

#portfolio-web .chonbang .info-2 p span {
    font-weight: 600;
    font-size: 16px;
    color: #F89827;
    margin-right: 20px;
    width: 69px;
    box-sizing: border-box;
}

#portfolio-web .chonbang .info-2 .portfolio-btn .btn {
        background-color: #F89827;
        color: #fff;
}

#portfolio-web .tvn h4 {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    margin-bottom: 46px;
    color: #FA0129;
}

#portfolio-web .tvn .info-2 p span {
    font-weight: 600;
    font-size: 16px;
    color: #FA0129;
    margin-right: 20px;
    width: 69px;
    box-sizing: border-box;
}

#portfolio-web .tvn .info-2 .portfolio-btn .btn {
        background-color: #FA0129;
        color: #fff;
}

#portfolio-web .kidsnote h4 {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    margin-bottom: 46px;
    color: #06A7E2;
}

#portfolio-web .kidsnote .info-2 p span {
    font-weight: 600;
    font-size: 16px;
    color: #06A7E2;
    margin-right: 20px;
    width: 69px;
    box-sizing: border-box;
}

#portfolio-web .kidsnote .info-2 .portfolio-btn .btn {
        background-color: #06A7E2;
        color: #fff;
}

/* 디자인 */

#portfolio-design .header-component {
    position: fixed;
    z-index: 1;
    width: 100vw;
}

#portfolio-design #fullpage .slide .portfolio-img {
    width: 80%;
}

#portfolio-design #fullpage .slide .portfolio-web-img {
    width: 500px;
}

#portfolio-design .portfolio h4 {
    display: flex;
    flex-flow: column;
}

#portfolio-design .sale h4 {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    margin-bottom: 46px;
    color: #271E8D;
    margin-top: 30px;
}

#portfolio-design .sale .info-2 p span {
    font-weight: 600;
    font-size: 16px;
    color: #271E8D;
    margin-right: 20px;
    width: 69px;
    box-sizing: border-box;
}

#portfolio-design .sale .info-2 .portfolio-btn .btn {
        background-color: #271E8D;
        color: #fff;
}

#portfolio-design .drama h4 {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    margin-bottom: 46px;
    color: #CC2222;
    margin-top: 30px;
}

#portfolio-design .drama .info-2 p span {
    font-weight: 600;
    font-size: 16px;
    color: #CC2222;
    margin-right: 20px;
    width: 69px;
    box-sizing: border-box;
}

#portfolio-design .drama .info-2 .portfolio-btn .btn {
        background-color: #CC2222;
        color: #fff;
}

#portfolio-design .typo-web h4 {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    margin-bottom: 46px;
    color: #447933;
    margin-top: 30px;
}

#portfolio-design .typo-web .info-2 p span {
    font-weight: 600;
    font-size: 16px;
    color: #447933;
    margin-right: 20px;
    width: 69px;
    box-sizing: border-box;
}

#portfolio-design .typo-web .info-2 .portfolio-btn .btn {
        margin-bottom: 60px;
        background-color: #447933;
        color: #fff;
}

#portfolio-design .typo-photoshop h4 {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    margin-bottom: 46px;
    margin-top: 75px;
    color: #00185B;
}

#portfolio-design .typo-photoshop .info-2 p span {
    font-weight: 600;
    font-size: 16px;
    color: #00185B;
    margin-right: 20px;
    width: 69px;
    box-sizing: border-box;
}

#portfolio-design #fullpage .slide1 ul {
    width: 80%;
}

#portfolio-design #fullpage .slide1 ul > li {
    display: flex;
    width: 90%;
}

#portfolio-design #fullpage .slide .portfolio-florence-img {
    width: 90%;
    margin: 0 auto;
}

#portfolio-design .florence {
    width: 100%;
}

#portfolio-design .florence h4 {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    margin-bottom: 46px;
    color: #D3555A;
    margin-top: 75px;
}

#portfolio-design .florence .info-2 p span {
    font-weight: 600;
    font-size: 16px;
    color: #D3555A;
    margin-right: 20px;
    width: 69px;
    box-sizing: border-box;
}

#portfolio-design .florence .info-2 .portfolio-btn .btn {
        background-color: #D3555A;
        color: #333;
}

#portfolio-design .fila h4 {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    margin-bottom: 46px;
    margin-top: 75px;
    color: #0A315C;
}

#portfolio-design .fila .info-2 p span {
    font-weight: 600;
    font-size: 16px;
    color: #0A315C;
    margin-right: 20px;
    width: 69px;
    box-sizing: border-box;
}

#portfolio-design #section3 .portfolio-fila-img {
    width: 60%;
    margin-left: 50px;
}

#portfolio-design .innisfree h4 {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    margin-bottom: 46px;
    margin-top: 75px;
    color: #7D9C76;
}

#portfolio-design .innisfree .info-2 p span {
    font-weight: 600;
    font-size: 16px;
    color: #7D9C76;
    margin-right: 20px;
    width: 69px;
    box-sizing: border-box;
}

/* ssak3-info */

#info .header-component {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100vw;
}

#info .info-menu {
    width: 300px;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 1115px;
    bottom: 30px;
}

#info .info-menu li {
    width: 95px;
    height: 95px;
    border-radius: 95px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#info .info-menu li a {
    color: #fff;
}

#info .info-menu li:nth-child(2) a img {
    width: 45px;
}

#info .info-menu li a img {
    width: 65px;
    margin-top: 10px;
}

#info .info-bg {
    width: 1440px;
    background-color: #FFFEF1;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 50px;
    border-radius: 60px;
}

#info .info-bg .info-img img {
    width: 100%;
    border-radius: 60px;
}


#info .ssak3 li {
    background-color: #1D6E44;
    color: #fff;
}

#info .dtcu li {
    background-color: #ff5542;
    color: #fff;
}

#info .dtcu .info-menu {
    width: 200px;
    position: relative;
    left: 1200px;
}

#info .invitation li {
    background-color: #FFC7C7;
}

#info .invitation li a {
    color: #333;
}

#info .animal li {
    background-color: #1ABC9C;
}

#info .chonbang li {
    background-color: #F9941E;
}

#info .tvn li {
    background-color: #FA0028;
}

#info .kidsnote li {
    background-color: #06A7E2;
}

#info .sale li {
    background-color: #271E8D;
}

#info .drama li {
    background-color: #CC2222;
}

#info .typo li {
    background-color: #41772F;
}

/* 오른쪽 메뉴 버튼 */

#fp-nav ul {
    display: flex;
    flex-flow: column;
}

#fp-nav ul li .fp-tooltip {
    color: #CC1273;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: 500;
}


/* slider arrow */
.fp-controlArrow.fp-prev{
    left: 20px;
  }
  
  .fp-controlArrow.fp-next{
    right: 20px;
  }